@layer main {
  :host {
    --_padding: 16px;
    --md-focus-ring-shape: calc(var(--_h) / 2);
    align-items: center;
    background-color: color-mix(
      in srgb,
      var(--_background-color) var(--_background-opacity, 100%),
      transparent
    );
    color: color-mix(
      in srgb,
      var(--_text-color) var(--_text-opacity, 100%),
      transparent
    );
    display: inline-flex;
    font: var(--md-sys-typography-label-large);
    gap: 8px;
    justify-content: center;
    min-inline-size: 64px;
    padding-inline: var(--_padding);
    transition:
      box-shadow var(--md-sys-motion-effects-default-duration)
        var(--md-sys-motion-effects-default),
      border-radius var(--md-sys-motion-spatial-fast-duration)
        var(--md-sys-motion-spatial-fast);
  }

  :host([size='xs']) {
    --_padding: 12px;
    gap: 4px;
  }
  :host([size='m']) {
    --_padding: 24px;
    font: var(--md-sys-typography-title-medium);
    gap: 8px;
  }
  :host([size='l']) {
    --_padding: 48px;
    font: var(--md-sys-typography-headline-small);
    gap: 12px;
  }
  :host([size='xl']) {
    --_padding: 64px;
    font: var(--md-sys-typography-headline-medium);
    gap: 16px;
  }

  :host([trailing-icon]) {
    flex-direction: row-reverse;
  }

  :host([variant='outlined']) {
    padding-inline: calc(var(--_padding) - 1px);
  }
  :host([variant='text']) {
    padding-inline: calc(var(--_padding) / 4 * 3);
  }

  ::slotted([slot='icon']),
  ::slotted([slot='icon-checked']) {
    block-size: 1em;
    fill: currentcolor;
    font-size: var(--_icon-size);
    inline-size: 1em;
  }
}

@layer override {
  :host([variant='elevated']) {
    --_background-color: var(--md-sys-color-surface-container-low);
    --_text-color: var(--_color);
    box-shadow: var(--md-sys-elevation-shadow-1);
  }

  @media (hover: hover) and (pointer: fine) {
    :host([variant='filled']:hover:not(:active)),
    :host([variant='tonal']:hover:not(:active)) {
      box-shadow: var(--md-sys-elevation-shadow-1);
    }
    :host([variant='elevated']:hover:not(:active)) {
      box-shadow: var(--md-sys-elevation-shadow-2);
    }
  }
}
