@layer main {
  :host {
    /* [size=s] */
    --_wn: 32px; /* width for icon button with [width=narrow] */
    --_ww: 52px; /* width for icon button with [width=wide] */
    background-color: color-mix(
      in srgb,
      var(--_background-color) var(--_background-opacity, 100%),
      transparent
    );
    color: color-mix(
      in srgb,
      var(--_text-color) var(--_text-opacity, 100%),
      transparent
    );
    display: inline-grid;
    place-items: center;
    transition: border-radius var(--md-sys-motion-spatial-fast-duration)
      var(--md-sys-motion-spatial-fast);
    inline-size: var(--_h);
  }

  :host([size='xs']) {
    --_wn: 28px;
    --_ww: 40px;
  }
  :host([size='m']) {
    --_wn: 48px;
    --_ww: 72px;
  }
  :host([size='l']) {
    --_wn: 64px;
    --_ww: 128px;
  }
  :host([size='xl']) {
    --_wn: 104px;
    --_ww: 184px;
  }

  :host([width='narrow']) {
    inline-size: var(--_wn);
  }
  :host([width='wide']) {
    inline-size: var(--_ww);
  }

  ::slotted(*) {
    block-size: 1em;
    fill: currentcolor;
    font-size: var(--_icon-size);
    inline-size: 1em;
  }
}

@layer override {
  :host([size='small']) {
    --_icon-size: 24px;
  }

  :host([variant='text']) {
    --_text-color: var(--md-sys-color-on-surface-variant);
  }

  :host([variant='text']:state(checked)) {
    --_text-color: var(--_color);
  }
}
