@layer common-button, icon-button, shared, shared-toggle, override, active, disabled;

@layer shared {
  :host {
    --_on-color: var(--md-sys-color-on-primary);
    --_color: var(--md-sys-color-primary);
    /* [size=s] */
    --_h: 40px; /* height */
    --_icon-size: 20px;
    --_rs: 12px; /* square radius */
    --_rp: 8px; /* pressed radius */

    --_text-color: var(--_on-color);
    --_background-color: var(--_color);

    align-items: center;
    border-start-start-radius: var(--_inner-left-radius, calc(var(--_h) / 2));
    border-end-start-radius: var(--_inner-left-radius, calc(var(--_h) / 2));
    border-start-end-radius: var(--_inner-right-radius, calc(var(--_h) / 2));
    border-end-end-radius: var(--_inner-right-radius, calc(var(--_h) / 2));
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    height: var(--_h);
    justify-content: center;
    outline: 0;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: top;
  }

  :host([notransition]) {
    transition: none !important;
  }
  md-ripple,
  md-focus-ring {
    position: absolute;
  } /* Since they're not SSR'd and buttons use `gap`, it's necessary to write
       this to maintain the layout during SSR'd loading. */

  :host([size='xs']) {
    --_h: 32px;
  }
  :host([size='m']) {
    --_h: 56px;
    --_icon-size: 24px;
    --_rs: 16px;
    --_rp: 12px;
  }
  :host([size='l']) {
    --_h: 96px;
    --_icon-size: 32px;
    --_rs: 28px;
    --_rp: 16px;
  }
  :host([size='xl']) {
    --_h: 136px;
    --_icon-size: 40px;
    --_rs: 28px;
    --_rp: 16px;
  }

  :host([color='secondary']) {
    --_on-color: var(--md-sys-color-on-secondary);
    --_color: var(--md-sys-color-secondary);
  }
  :host([color='tertiary']) {
    --_on-color: var(--md-sys-color-on-tertiary);
    --_color: var(--md-sys-color-tertiary);
  }

  :host([variant='tonal']) {
    --_background-color: var(--md-sys-color-secondary-container);
    --_text-color: var(--md-sys-color-on-secondary-container);
  }
  :host([variant='outlined']) {
    --_background-color: transparent;
    --_text-color: var(--md-sys-color-on-surface-variant);
    --md-focus-ring-offset: 3px;
    border-color: color-mix(
      in srgb,
      var(--md-sys-color-outline-variant) 100%,
      transparent
    );
    border-style: solid;
    border-width: 1px;
  }
  :host([variant='text']) {
    --_background-color: transparent !important;
    --_text-color: var(--_color);
  }

  :host([square]) {
    --md-focus-ring-shape: var(--_rs);
    border-radius: var(--_rs);
  }
}

@layer active {
  :host(:active),
  :host(:state(active)) {
    --md-focus-ring-shape: var(--_rp);
    border-radius: var(--_rp);
  }
}

@layer disabled {
  :host([variant='outlined']:disabled) {
    --_background-color: var(--md-sys-color-outline);
  }

  :host(:disabled),
  :host([variant='outlined']:state(checked):disabled) {
    --_background-color: var(--md-sys-color-on-surface);
    --_background-opacity: 10%;
    --_text-color: var(--md-sys-color-on-surface);
    --_text-opacity: 38%;
    border-color: color-mix(
      in srgb,
      var(--md-sys-color-on-surface) 10%,
      transparent
    );
    box-shadow: none;
    pointer-events: none;
  }
}
