@layer shared-toggle {
  :host {
    transition:
      border-radius var(--md-sys-motion-spatial-fast-duration)
        var(--md-sys-motion-spatial-fast),
      box-shadow var(--md-sys-motion-effects-default-duration)
        var(--md-sys-motion-effects-default),
      background-color var(--md-sys-motion-effects-fast-duration)
        var(--md-sys-motion-effects-fast),
      color var(--md-sys-motion-effects-fast-duration)
        var(--md-sys-motion-effects-fast);
  }

  :host(:state(checked)) {
    --md-focus-ring-shape: var(--_rs);
    border-radius: var(--_rs);
  }

  :host(:state(checked)) [part~='unchecked'],
  :host(:not(:state(checked))) [part~='checked'] {
    display: none;
  }

  :host([variant='filled']:not(:state(checked))) {
    --_background-color: var(--md-sys-color-surface-container);
    --_text-color: var(--md-sys-color-on-surface-variant);
  }
  :host([variant='tonal']:not(:state(checked))) {
    --_background-color: var(--md-sys-color-surface-container-highest);
    --_text-color: var(--md-sys-color-on-surface-variant);
  }
  :host([variant='outlined']:state(checked)) {
    --_background-color: var(--md-sys-color-inverse-surface);
    --_text-color: var(--md-sys-color-inverse-on-surface);
    border-width: 0;
  }

  @media (forced-colors: active) {
    :host(:state(checked)) {
      background: Highlight;
      color: HighlightText;
    }
  }
}
