.container {
  --_indicator-height: 1px;
  --_indicator-color: var(--md-sys-color-on-surface-variant);

  background-color: var(--md-sys-color-surface-container-highest);
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 calc(var(--_indicator-height) * -1) 0 0
    var(--_indicator-color);
  padding: 0 16px;
  transition: box-shadow var(--md-sys-motion-effects-fast-duration)
    var(--md-sys-motion-effects-fast);
}

:host([haslabel]) {
  --_padding-top: 24px;
  --_padding-bottom: 8px;
}

.label {
  color: var(--md-sys-color-on-surface-variant);
  margin-top: calc((var(--_padding-top) + var(--_padding-bottom)) / 2);
  position: absolute;
  top: 0;
}

:host([focused]) .label {
  color: var(--md-sys-color-primary);
}

:host([error]) .label {
  color: var(--md-sys-color-error);
}

:host([populated]) .label,
:host([focused]) .label {
  font-size: 0.75em;
  margin-top: calc(var(--_padding-top) / 2 - 0.75em);
}

:host([focused]) .container {
  --_indicator-height: 3px;
  --_indicator-color: var(--md-sys-color-primary);
}

:host([error]) .container {
  --_indicator-color: var(--md-sys-color-error);
}

:host([error][focused]) .container {
  --_indicator-color: var(--md-sys-color-error);
}

@media (forced-colors: active) {
  :host {
    --md-sys-color-primary: Highlight;
    outline: 1px solid CanvasText;
  }
  :host([focused]) {
    outline-color: Highlight;
  }
}
