:host {
  display: inline-block;
  min-width: 210px;
  -webkit-user-select: none;
  user-select: none;
}
md-filled-field,
md-outlined-field {
  width: 100%;
}
[part='input'] {
  background: transparent;
  border: none;
  color: inherit;
  font: var(--md-sys-typography-body-large);
  height: 100%;
  margin: 0;
  outline: none;
  padding: 0;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
