:host {
  --md-focus-ring-shape: 12px;
  --md-focus-ring-inward-offset: -3px;
  background-color: var(--_background, transparent);
  border-radius: 4px;
  display: flex;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

:host(:not([hidden]):first-of-type) {
  border-radius: 12px 12px 4px 4px;
}

:host(:not([hidden]):last-of-type) {
  border-radius: 4px 4px 12px 12px;
}

:host(:state(selected)) {
  --md-item-supporting-text-color: var(--md-sys-color-on-tertiary-container);
  background-color: var(--md-sys-color-tertiary-container);
  border-radius: 12px;
  color: var(--md-sys-color-on-tertiary-container);
}

:host(:disabled) {
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
}

md-item,
md-item div[slot='container'] {
  border-radius: inherit;
}

@media (forced-colors: active) {
  :host {
    forced-color-adjust: none;
    color: CanvasText;
  }
  :host(:hover) {
    background: Highlight;
    color: HighlightText;
  }
  :host(:state(selected)) {
    background: Highlight;
    color: HighlightText;
  }
}
