:host {
  /* To optimize the final code size only */
  --_d: var(--md-sys-motion-effects-default-duration);
  --_default: var(--_d) var(--md-sys-motion-effects-default);
  --_slow: var(--md-sys-motion-effects-slow-duration)
    var(--md-sys-motion-effects-slow);
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  outline: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  width: 40px;
}

:host::before,
.middle,
:host::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  animation-fill-mode: forwards !important;
}

/* outer, middle and inner */
:host::before {
  z-index: 1;
  height: 20px;
  width: 20px;
  background-color: var(--md-sys-color-on-surface-variant);
  transition: background var(--_default);
}
.middle {
  z-index: 2;
  height: 16px;
  width: 16px;
  background-color: var(--md-sys-color-surface);
}
:host::after {
  z-index: 3;
  height: 10px;
  width: 10px;
  background-color: var(--md-sys-color-primary);
  transform: scale(0);
}

/* NOTE: tried to mimic the animation from Android instead of m3.material.io */
:host(:state(unchecking)) .middle {
  animation: uncheck-mid-2 var(--_slow) var(--_d);
}
:host(:state(unchecking))::after {
  animation:
    uncheck-inner-1 var(--_default),
    uncheck-inner-2 var(--_slow) var(--_d);
}

:host([checked])::before {
  background-color: var(--md-sys-color-primary);
}
:host([checked])::after {
  transform: scale(1);
}

:host(:state(checking)) .middle {
  animation:
    check-mid-1 var(--_default),
    check-mid-2 var(--_slow) var(--_d);
}
:host(:state(checking))::after {
  animation:
    check-inner-1 var(--_default),
    check-inner-2 var(--_slow) var(--_d);
}

@keyframes uncheck-mid-2 {
  0%, 100% {
    z-index: 4;
  }
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes uncheck-inner-1 {
  0% {
    transform: scale(1);
    background-color: var(--md-sys-color-primary);
  }
  100% {
    transform: scale(1.6);
    background-color: var(--md-sys-color-on-surface-variant);
  }
}
@keyframes uncheck-inner-2 {
  0% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.6);
  }
}

@keyframes check-mid-1 { 0% { transform: scale(1); }     100% { transform: scale(0); } }
@keyframes check-mid-2 { 0% { transform: scale(0.625); } 100% { transform: scale(1); } }
@keyframes check-inner-1 { 0%, 100% { transform: scale(0); } }
@keyframes check-inner-2 { 0%, 100% { transform: scale(1); } }

:host([disabled]) {
  pointer-events: none;
}

:host([disabled])::before,
:host([disabled])::after {
  background: color-mix(
    in srgb,
    var(--md-sys-color-on-surface) 38%,
    transparent
  );
}

@media (forced-colors: active) {
  :host {
    --md-sys-color-primary: SelectedItem;
    --md-sys-color-on-surface-variant: CanvasText;
  }
  :host(:disabled)::before,
  :host(:disabled)::after {
    background: GrayText;
  }
}
