:host {
  --_default: var(--md-sys-motion-effects-default-duration)
    var(--md-sys-motion-effects-default);
  --_slow: var(--md-sys-motion-effects-slow-duration)
    var(--md-sys-motion-effects-slow);
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  outline: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  width: 40px;
}

:host::before,
:host::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border-radius: 9999px;
}

/* outer, middle and inner */
:host::before {
  z-index: 1;
  height: 20px;
  width: 20px;
  background-color: var(--md-sys-color-on-surface-variant);
  transition: background var(--md-sys-motion-effects-fast-duration)
    var(--md-sys-motion-effects-fast);
}
.middle {
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  background-color: var(--md-sys-color-surface);
  z-index: 2;
}
:host::after {
  z-index: 3;
  height: 10px;
  width: 10px;
  background-color: var(--md-sys-color-primary);
  transform: scale(0);
}

:host([checked])::before {
  background-color: var(--md-sys-color-primary);
}
:host([checked]) .middle {
  /* NOTE: tried to mimic the animation from Android instead of m3.material.io */
  animation:
    check-middle-1 var(--_default),
    check-middle-2 var(--_slow) var(--md-sys-motion-effects-default-duration);
  animation-fill-mode: forwards;
}
:host([checked])::after {
  animation: check-inner-2 var(--_slow)
    var(--md-sys-motion-effects-default-duration);
  animation-fill-mode: forwards;
}

.middle {
  animation: uncheck-middle-2 var(--_slow)
    var(--md-sys-motion-effects-default-duration);
}
:host::after {
  animation:
    uncheck-inner-1 var(--_default),
    uncheck-inner-2 var(--_slow) var(--md-sys-motion-effects-default-duration);
}

/* check, <type>-<part>-<stage>, unnecessary stages can be skipped */
@keyframes check-middle-1 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes check-middle-2 {
  0% {
    transform: scale(0.625);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes check-inner-2 {
  0%,
  100% {
    transform: scale(1);
  }
}

/* uncheck */
@keyframes uncheck-middle-2 {
  0% {
    transform: scale(0);
    z-index: 4;
  }
  100% {
    transform: scale(1);
    z-index: 4;
  }
}

@keyframes uncheck-inner-1 {
  0% {
    transform: scale(1);
    background-color: var(--md-sys-color-primary);
  }
  100% {
    transform: scale(1.6);
    background-color: var(--md-sys-color-on-surface-variant);
  }
}

@keyframes uncheck-inner-2 {
  0% {
    transform: scale(1.6);
    background-color: var(--md-sys-color-on-surface-variant);
  }
  100% {
    transform: scale(1.6);
    background-color: var(--md-sys-color-on-surface-variant);
  }
}

:host(:disabled) {
  pointer-events: none;
}

:host(:disabled)::before,
:host(:disabled)::after {
  background: color-mix(
    in srgb,
    var(--md-sys-color-on-surface) 38%,
    transparent
  );
}
