/**
 * Reference:
 * https://android.googlesource.com/platform/frameworks/base/+/HEAD/core/res/res/anim/btn_radio_to_on_mtrl_ring_outer_path_animation.xml
 */

:host {
  /* To optimize the final code size only */
  --_d: var(--md-sys-motion-effects-default-duration);
  --_default: var(--_d) var(--md-sys-motion-effects-default);
  --_slow: var(--md-sys-motion-effects-slow-duration)
    var(--md-sys-motion-effects-slow);
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  outline: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  width: 40px;
}

.icon {
  height: 20px;
  width: 20px;
  z-index: 1;
}

.ring {
  fill: none;
  r: 9px;
  stroke: var(--md-sys-color-on-surface-variant);
  stroke-width: 2px;
  transition: stroke var(--_default);
  will-change: r, stroke-width;
}

:host([checked]) .ring {
  stroke: var(--md-sys-color-primary);
}

.dot {
  fill: var(--md-sys-color-primary);
  r: 0px;
  will-change: r;
}

:host([checked]) .dot {
  r: 5px;
}

:host(:state(checking)) .ring {
  animation:
    check-ring-1 var(--_default),
    check-ring-2 var(--_slow) var(--_d);
}

:host(:state(checking)) .dot {
  animation:
    check-dot-1 var(--_default),
    check-dot-2 var(--_slow) var(--_d);
}

@keyframes check-ring-1 {
  0% {
    r: 9px;
    stroke-width: 2px;
  }
  100% {
    r: 4.5px;
    stroke-width: 9px;
  }
}

@keyframes check-ring-2 {
  0% {
    r: 8px;
    stroke-width: 2px;
  }
  100% {
    r: 9px;
    stroke-width: 2px;
  }
}

@keyframes check-dot-1 {
  0%,
  100% {
    r: 0px;
  }
}

@keyframes check-dot-2 {
  0% {
    r: 7px;
  }
  100% {
    r: 5px;
  }
}

:host(:state(unchecking)) .ring {
  animation:
    uncheck-ring-1 var(--_default),
    uncheck-ring-2 var(--_slow) var(--_d);
}

:host(:state(unchecking)) .dot {
  animation: uncheck-dot-1 var(--_default);
}

@keyframes uncheck-ring-1 {
  0% {
    r: 9px;
    stroke: var(--md-sys-color-primary);
    stroke-width: 2px;
  }
  100% {
    r: 8px;
    stroke: var(--md-sys-color-on-surface-variant);
    stroke-width: 2px;
  }
}

@keyframes uncheck-ring-2 {
  0% {
    r: 4.5px;
    stroke-width: 9px;
  }
  100% {
    r: 9px;
    stroke-width: 2px;
  }
}

@keyframes uncheck-dot-1 {
  0% {
    fill: var(--md-sys-color-primary);
    r: 5px;
  }
  100% {
    fill: var(--md-sys-color-on-surface-variant);
    r: 7.5px;
  }
}

:host([disabled]) {
  pointer-events: none;
}

:host([disabled]) .ring {
  stroke: color-mix(
    in srgb,
    var(--md-sys-color-on-surface) 38%,
    transparent
  );
}

:host([disabled]) .dot {
  fill: color-mix(
    in srgb,
    var(--md-sys-color-on-surface) 38%,
    transparent
  );
}

@media (forced-colors: active) {
  :host {
    --md-sys-color-primary: SelectedItem;
    --md-sys-color-on-surface-variant: CanvasText;
  }

  :host(:disabled) .ring {
    stroke: GrayText;
  }

  :host(:disabled) .dot {
    fill: GrayText;
  }
}
