:host [part~='state-layer'] {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 67ms linear;
}

@media (hover: hover) and (pointer: fine) {
  :host(:hover) [part~='state-layer'] {
    opacity: 0.08;
  }
}
