:host {
  --md-badge-offset: 0;
}
[part~='root'] {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-shrink: 0;
}
[part~='badge'] {
  --md-badge-scale: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: var(--md-badge-offset);
  right: var(--md-badge-offset);
  box-sizing: border-box;
  font: var(--md-sys-typography-label-small);
  padding: 0px 2.5px;
  min-width: 16px;
  height: 16px;
  border-radius: 8px;
  z-index: 1;
  background-color: var(--md-sys-color-error);
  color: var(--md-sys-color-on-error);
  transform: scale(var(--md-badge-scale)) translate(50%, -50%);
  transform-origin: 100% 0%;
  transition: transform var(--md-sys-motion-spatial-fast-duration)
    var(--md-sys-motion-spatial-fast),
    color var(--md-sys-motion-effects-fast-duration)
    var(--md-sys-motion-effects-fast);
  pointer-events: none;
}
:host([small]) [part~='badge'] {
  --md-badge-scale: 0.375;
  color: transparent;
}
:host([hidden]) {
  display: hidden;
}
:host([value='0']:not([show-zero])) [part~='badge'],
:host([hidden]) [part~='badge'] {
  --md-badge-scale: 0;
}
:host([circle]) {
  --md-badge-offset: 14%;
}
:host([left]:not([dir='rtl'])) [part~='badge'],
:host(:not([left])[dir='rtl']) [part~='badge'] {
  right: auto;
  left: var(--md-badge-offset);
  transform: scale(var(--md-badge-scale)) translate(-50%, -50%);
  transform-origin: 0% 0%;
}
:host([bottom]) [part~='badge'] {
  top: auto;
  bottom: var(--md-badge-offset);
  transform: scale(var(--md-badge-scale)) translate(50%, 50%);
  transform-origin: 100% 100%;
}
:host([left][bottom]:not([dir='rtl'])) [part~='badge'],
:host(:not([left])[dir='rtl'][bottom]) [part~='badge'] {
  transform: scale(var(--md-badge-scale)) translate(-50%, 50%);
  transform-origin: 0% 100%;
}
