:host {
  display: grid;
  place-items: center;
}
slot {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#contents {
  padding: 22px;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 22px;
}

::slotted(.divider) {
  display: inline-block;
  margin: auto;
  width: 4px;
  height: 4px;
  border-radius: 9999px;
  background-color: var(--md-sys-color-outline);
}
