@import '../src/m3/system/base.css';
@import '../src/m3/system/defaults.css';

:root[data-md-theme='light'] {
  --md-sys-color-background: #f8faf0;
  --md-sys-color-on-background: #191d16;
  --md-sys-color-surface: #f8faf0;
  --md-sys-color-surface-dim: #d9dbd1;
  --md-sys-color-surface-bright: #f8faf0;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f2f5ea;
  --md-sys-color-surface-container: #edefe5;
  --md-sys-color-surface-container-high: #e7e9df;
  --md-sys-color-surface-container-highest: #e1e4d9;
  --md-sys-color-on-surface: #191d16;
  --md-sys-color-surface-variant: #dee5d4;
  --md-sys-color-on-surface-variant: #42493c;
  --md-sys-color-inverse-surface: #2e312b;
  --md-sys-color-inverse-on-surface: #f0f2e7;
  --md-sys-color-outline: #72796b;
  --md-sys-color-outline-variant: #c2c9b8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #386a1f;
  --md-sys-color-primary: #23540a;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #477a2d;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #9dd67d;
  --md-sys-color-secondary: #4f6442;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #d3ecc0;
  --md-sys-color-on-secondary-container: #3a4f2e;
  --md-sys-color-tertiary: #005357;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #22797f;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
  color-scheme: light;
}

:root[data-md-theme='dark'] {
  --md-sys-color-background: #11140e;
  --md-sys-color-on-background: #e1e4d9;
  --md-sys-color-surface: #11140e;
  --md-sys-color-surface-dim: #11140e;
  --md-sys-color-surface-bright: #373a33;
  --md-sys-color-surface-container-lowest: #0c0f09;
  --md-sys-color-surface-container-low: #191d16;
  --md-sys-color-surface-container: #1d211a;
  --md-sys-color-surface-container-high: #282b24;
  --md-sys-color-surface-container-highest: #32362f;
  --md-sys-color-on-surface: #e1e4d9;
  --md-sys-color-surface-variant: #42493c;
  --md-sys-color-on-surface-variant: #c2c9b8;
  --md-sys-color-inverse-surface: #e1e4d9;
  --md-sys-color-inverse-on-surface: #2e312b;
  --md-sys-color-outline: #8c9384;
  --md-sys-color-outline-variant: #42493c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9dd67d;
  --md-sys-color-primary: #9dd67d;
  --md-sys-color-on-primary: #113800;
  --md-sys-color-primary-container: #2e5f15;
  --md-sys-color-on-primary-container: #e6ffd3;
  --md-sys-color-inverse-primary: #386a1f;
  --md-sys-color-secondary: #b5cea4;
  --md-sys-color-on-secondary: #223517;
  --md-sys-color-secondary-container: #304525;
  --md-sys-color-on-secondary-container: #c3dcb0;
  --md-sys-color-tertiary: #85d3da;
  --md-sys-color-on-tertiary: #00363a;
  --md-sys-color-tertiary-container: #005e63;
  --md-sys-color-on-tertiary-container: #e1fdff;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  color-scheme: dark;
}

:root {
  --_icon-font-config: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  --md-sys-typography-family: 'Google Sans', sans-serif;

  --md-sys-motion-spatial-fast: cubic-bezier(0.42, 1.67, 0.21, 0.9);
  --md-sys-motion-spatial-fast-duration: 350ms;
  --md-sys-motion-spatial-default: cubic-bezier(0.38, 1.21, 0.22, 1);
  --md-sys-motion-spatial-default-duration: 500ms;
  --md-sys-motion-spatial-slow: cubic-bezier(0.39, 1.29, 0.35, 0.98);
  --md-sys-motion-spatial-slow-duration: 650ms;

  --md-sys-motion-effects-fast: cubic-bezier(0.31, 0.94, 0.34, 1);
  --md-sys-motion-effects-fast-duration: 150ms;
  --md-sys-motion-effects-default: cubic-bezier(0.34, 0.8, 0.34, 1);
  --md-sys-motion-effects-default-duration: 200ms;
  --md-sys-motion-effects-slow: cubic-bezier(0.34, 0.88, 0.34, 1);
  --md-sys-motion-effects-slow-duration: 300ms;
}

a:not(:hover):not(:focus-visible) {
  text-decoration: none;
}

body {
  font: var(--md-sys-typography-body-large);
  margin: 16px;
  min-height: 100dvh;
}

h1 {
  font: var(--md-sys-typography-headline-medium);
}
h2 {
  font: var(--md-sys-typography-headline-small);
}
h3 {
  font: var(--md-sys-typography-title-large);
}
h4 {
  font: var(--md-sys-typography-title-medium);
}

code {
  background-color: var(--md-sys-color-surface-variant);
  border-radius: 2px;
  color: var(--md-sys-color-on-surface-variant);
  font: var(--md-sys-typography-body-large);
  margin-inline: 2px;
  outline: 2px solid var(--md-sys-color-surface-variant);
  padding-inline: 2px;
}

/* Further consideration needed on the link/input implementation with buttons */
a:has(md-button),
a:has(md-fab),
a:has(md-icon-button) {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

label:has(md-checkbox) {
  align-items: center;
  display: inline-flex;
  font: var(--md-sys-typography-label-large);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
label:has(md-checkbox:disabled) {
  pointer-events: none;
}
label:has(md-switch),
label:has(select) {
  display: inline-flex;
  font: var(--md-sys-typography-label-large);
  gap: 8px;
  justify-content: space-between;
  place-items: center;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
label:has(md-switch:disabled) {
  pointer-events: none;
}

/* Fake web component */
md-icon {
  display: inline-block;
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: normal;
  font-variation-settings: var(--_icon-font-config);
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}
