dialog {
  padding: 0;
  border: none;
  background: transparent;
  overflow: visible;
  max-height: min(560px, 100% - 48px);
  max-width: min(560px, 100% - 48px);
  min-height: 140px;
  min-width: 280px;
  outline: 0;
}

dialog[open] {
  display: flex;
}

dialog::backdrop {
  background: none;
}

[part='container'] {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  will-change: height, transform, opacity;
  background-color: var(--md-sys-color-surface-container-high);
  border-radius: 28px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

[part='headline'] {
  display: flex;
  flex-direction: column;
}

::slotted([slot='icon']) {
  margin: 16px 0 0;
  block-size: 1em;
  color: var(--md-sys-color-secondary);
  fill: currentcolor;
  font-size: 24px;
  inline-size: 1em;
}

::slotted([slot='headline']) {
  box-sizing: border-box;
  font: var(--md-sys-typography-headline-small);
  color: var(--md-sys-color-on-surface);
  margin: 0;
  padding: 16px 24px 0;
}

[part='headline'].has-icon {
  align-items: center;
}

[part='content'] {
  display: block;
  color: var(--md-sys-color-on-surface-variant);
  font: var(--md-sys-typography-body-medium);
  will-change: opacity;
  padding: 16px 24px 0;
}

[part='actions'] {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

slot[name='actions']::slotted(*) {
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding: 24px;
}

[part='scrim'] {
  background: var(--md-sys-color-scrim);
  display: none;
  inset: 0px;
  opacity: 0.32;
  pointer-events: none;
  position: fixed;
  z-index: 1;
}

dialog[open] + [part='scrim'] {
  display: block;
}

@media (forced-colors: active) {
  [part='container'] {
    outline: 2px solid WindowText;
  }
}
