:host {
  background-color: var(--md-sys-color-surface-container);
  box-sizing: border-box;
  height: 100%;
  overflow: hidden auto;
  width: 96px;
  display: grid;
  flex-shrink: 0;
  gap: 40px;
  grid-template-rows: min-content auto;
  justify-content: space-between;
  overflow: visible;
  /* padding-top: 44px; */
  /* Documented as 44 but that includes the top app bar or system top bar */
  padding-block: 20px;
  -webkit-user-select: none;
  user-select: none;
  z-index: 10;
}

.actions {
  display: grid;
  position: sticky;
  top: -44px;
  z-index: 10;
  place-self: center;
}
::slotted(md-fab) {
  box-shadow: none;
}

.items {
  display: grid;
  grid-template-areas: 'stack';
}
slot:not([name]) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-area: stack;
  list-style: none;
  padding: 0;
  position: relative;
}
::slotted([end]) {
  margin-block-start: auto;
}
