:root {
  --md-sys-color-primary: rgb(203 190 255);
  --md-sys-color-surface-tint: rgb(203 190 255);
  --md-sys-color-on-primary: rgb(51 39 94);
  --md-sys-color-primary-container: rgb(73 62 118);
  --md-sys-color-on-primary-container: rgb(231 222 255);
  --md-sys-color-secondary: rgb(202 195 220);
  --md-sys-color-on-secondary: rgb(50 46 65);
  --md-sys-color-secondary-container: rgb(72 68 88);
  --md-sys-color-on-secondary-container: rgb(230 223 249);
  --md-sys-color-tertiary: rgb(238 184 203);
  --md-sys-color-on-tertiary: rgb(73 37 52);
  --md-sys-color-tertiary-container: rgb(98 59 75);
  --md-sys-color-on-tertiary-container: rgb(255 217 229);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(20 19 24);
  --md-sys-color-on-background: rgb(230 225 233);
  --md-sys-color-surface: rgb(20 19 24);
  --md-sys-color-on-surface: rgb(230 225 233);
  --md-sys-color-surface-variant: rgb(72 69 78);
  --md-sys-color-on-surface-variant: rgb(201 196 207);
  --md-sys-color-outline: rgb(147 143 153);
  --md-sys-color-outline-variant: rgb(72 69 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 225 233);
  --md-sys-color-inverse-on-surface: rgb(49 47 53);
  --md-sys-color-inverse-primary: rgb(97 86 144);
  --md-sys-color-primary-fixed: rgb(231 222 255);
  --md-sys-color-on-primary-fixed: rgb(29 17 72);
  --md-sys-color-primary-fixed-dim: rgb(203 190 255);
  --md-sys-color-on-primary-fixed-variant: rgb(73 62 118);
  --md-sys-color-secondary-fixed: rgb(230 223 249);
  --md-sys-color-on-secondary-fixed: rgb(29 25 43);
  --md-sys-color-secondary-fixed-dim: rgb(202 195 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(72 68 88);
  --md-sys-color-tertiary-fixed: rgb(255 217 229);
  --md-sys-color-on-tertiary-fixed: rgb(48 17 31);
  --md-sys-color-tertiary-fixed-dim: rgb(238 184 203);
  --md-sys-color-on-tertiary-fixed-variant: rgb(98 59 75);
  --md-sys-color-surface-dim: rgb(20 19 24);
  --md-sys-color-surface-bright: rgb(58 56 62);
  --md-sys-color-surface-container-lowest: rgb(15 13 19);
  --md-sys-color-surface-container-low: rgb(28 27 32);
  --md-sys-color-surface-container: rgb(32 31 36);
  --md-sys-color-surface-container-high: rgb(43 41 47);
  --md-sys-color-surface-container-highest: rgb(54 52 58);
}
