body {
  accent-color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  font: var(--md-sys-typography-body-large);
}

::selection {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

a {
  color: var(--md-sys-color-primary);
}
