:root {
  --md-sys-elevation-level-0: 0;
  --md-sys-elevation-level-1: 1;
  --md-sys-elevation-level-2: 3;
  --md-sys-elevation-level-3: 6;
  --md-sys-elevation-level-4: 8;
  --md-sys-elevation-level-5: 12;
  --md-sys-elevation-shadow-1:
    0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-2:
    0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-3:
    0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-4:
    0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-5:
    0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}
