:host {
  --_padding: 16px;
  --_gap: 32px;
  --_container-color: var(--md-sys-color-surface-container);
  --_on-color: var(--md-sys-color-on-surface);
  align-items: center;
  background-color: color-mix(
    in srgb,
    var(--_container-color) var(--_container-opacity, 100%),
    transparent
  );
  box-sizing: border-box;
  color: color-mix(
    in srgb,
    var(--_on-color) var(--_on-opacity, 100%),
    transparent
  );
  display: flex;
  height: 64px;
  width: 100%;
}

[part='container'] {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  gap: var(--_gap);
  height: 64px;
  justify-content: space-between;
  padding: 0 var(--_padding);
  width: 100%;
}

[part='fab-slot'] {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
:host(:not([orientation='vertical'])) ::slotted([slot='fab']) {
  margin-inline-start: 8px;
}
:host([orientation='vertical']) ::slotted([slot='fab']) {
  margin-block-start: 8px;
}

:host([type='floating']) {
  --_padding: 12px;
  --_gap: 4px;
  --_container-color: var(--md-sys-color-surface-container-high);
  background: transparent;
  box-shadow: none;
  max-width: calc(100% - 32px);
  width: fit-content;

  [part='container'] {
    background-color: color-mix(
      in srgb,
      var(--_container-color) var(--_container-opacity, 100%),
      transparent
    );
    border-radius: 32px;
    box-shadow: var(--md-toolbar-shadow, var(--md-sys-elevation-shadow-3));
    width: fit-content;
  }

  ::slotted(md-button),
  ::slotted(md-button-toggle),
  ::slotted(md-icon-button),
  ::slotted(md-icon-button-toggle) {
    --md-focus-ring-shape: calc(var(--_h) / 2);
    border-radius: calc(var(--_h) / 2);
  }
}
:host([type='floating'][orientation='vertical']) {
  align-items: stretch;
  flex-direction: column;
  min-height: auto;
  width: 64px;

  [part='container'] {
    flex-direction: column;
    height: fit-content;
    padding: var(--_padding) 0;
    width: 100%;
  }
}

::slotted(md-button-toggle[variant='tonal']:not(:state(checked))),
::slotted(md-icon-button-toggle[variant='tonal']:not(:state(checked))) {
  --_background-color: transparent;
}

:host([color='vibrant']) {
  --_container-color: var(--md-sys-color-primary-container);
  --_on-color: var(--md-sys-color-on-primary-container);

  ::slotted(md-icon-button[variant='text']),
  ::slotted(md-icon-button-toggle[variant='tonal']) {
    --_text-color: var(--md-sys-color-on-primary-container);
  }
  ::slotted(md-icon-button-toggle[variant='tonal']:state(checked)) {
    --_background-color: var(--md-sys-color-surface-container);
    --_text-color: var(--md-sys-color-on-surface);
  }
}

@media (forced-colors: active) {
  [part='container'] {
    outline: 1px solid CanvasText;
  }
}
