:host {
  --_thickness: var(--md-linear-progress-thickness, 4px);
  align-items: center;
  display: flex;
  height: var(--_thickness);
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

[part~='gap'] {
  position: relative;
  max-width: 4px;
  height: 4px;
}
[part~='gap'][part~='after'] {
  width: 4px;
  flex-shrink: 0;
}

[part~='track'] {
  background-color: var(--md-sys-color-secondary-container);
  height: var(--_thickness);
  border-radius: 9999px;
}
[part~='track'][part~='before'] {
  flex-shrink: 0;
  width: 0;
}
[part~='track'][part~='after'] {
  flex-shrink: 0;
  width: 100%;
}

[part='active'] {
  border-radius: 9999px;
  background-color: var(--md-sys-color-primary);
  flex-grow: 1;
  flex-shrink: 1;
  height: var(--_thickness);
  inset-block: 0;
  margin: auto 0;
  transform-origin: top left;
  transition: min-width 0.25s cubic-bezier(0.4, 0, 0.6, 1) 0s;
  width: 0;
}

[part='stop'] {
  background-color: var(--md-sys-color-primary);
  border-radius: 9999px;
  height: 4px;
  inset-inline-end: calc(
    2px * clamp(0, (var(--_thickness) - 4px) / 1px * 1000000, 1)
  ); /* thickness <= 4 --> 0px, thickness > 4 --> 2px */
  position: absolute;
  width: 4px;
}

:host([indeterminate]) {
  [part~='gap'][part~='before'] {
    animation: 1.3s linear infinite gap-before;
    width: 4px;
  }
  [part~='gap'][part~='after'] {
    flex-shrink: 1;
    animation: 1.3s linear infinite gap-after;
  }

  [part~='track'][part~='before'] {
    animation: 1.3s linear infinite track-before;
    animation-timing-function: cubic-bezier(0.3, 0, 0.8, 0.15);
  }
  [part~='track'][part~='after'] {
    animation: 1.3s linear infinite track-after;
    animation-timing-function: cubic-bezier(0.3, 0, 0.8, 0.15);
  }

  [part='stop'] {
    display: none;
  }
}

@keyframes gap-before {
  0% {
    width: 0;
  }
  9.8% {
    width: 0;
  }
  20% {
    width: 4px;
  }
  100% {
    width: 4px;
  }
}
@keyframes gap-after {
  61.5385% {
    width: 4px;
  }
  61.6385% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes track-before {
  0% {
    width: 0;
  }
  18% {
    width: 0;
  }
  61.5385% {
    width: calc(50% - 4px);
    animation-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1);
  }
  100% {
    width: 100%;
  }
}
@keyframes track-after {
  0% {
    width: 100%;
  }
  61.5385% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
