:host {
  display: inline-block;
  min-width: 210px;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

[part='field'] {
  cursor: pointer;
  outline: none;
  width: 100%;
}

[part='value'] {
  font: var(--md-sys-typography-body-large);
  height: 1.5em;
}

[part='popup'] {
  --md-menu-max-height: 300px;
  min-width: inherit;
}
