:host {
  --md-focus-ring-shape: 12px;
  box-sizing: border-box;
  color: var(--md-sys-color-on-surface-variant);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font: var(--md-sys-typography-title-small);
  justify-content: center;
  outline: none;
  padding: 0 16px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  text-wrap-mode: nowrap;
  user-select: none;
  -webkit-user-select-: none;
}
:host([selected]) {
  color: var(--_tab-selected-color);

  md-focus-ring {
    margin-bottom: calc(var(--_indicator-height) + 2px);
  }
  [part='indicator'] {
    opacity: 1;
  }
}

[part='content'] {
  align-items: center;
  display: inline-flex;
  flex-direction: var(--_tab-flex-dir, row);
  gap: var(--_tab-gap, 8px);
  height: var(--_tab-height, 48px);
  justify-content: center;
  position: relative;
}

[part='indicator'] {
  position: absolute;
  bottom: 0;
  left: 2px;
  right: 2px;
  height: var(--_indicator-height);
  border-radius: 3px 3px 0 0;
  background-color: var(--md-sys-color-primary);
  opacity: 0;
  transform-origin: left;
  pointer-events: none;
  will-change: transform, opacity;
}

[part~='icon'] {
  block-size: 1em;
  fill: currentcolor;
  font-size: 24px;
  inline-size: 1em;
}
