:host {
  --_tab-selected-color: var(--md-sys-color-primary);
  --_tab-indicator-height: 3px;
  display: block;
  position: relative;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

[part='tablist'] {
  display: flex;
}

[part='indicator'] {
  position: absolute;
  bottom: 0;
  height: var(--_tab-indicator-height);
  border-radius: 3px 3px 0 0;
  background-color: var(--md-sys-color-primary);
  /* FIXME: get rid of floating-dom since it sets the position multiple times
            and breaks the transition */
  transition:
    left var(--md-sys-motion-spatial-default-duration)
      var(--md-sys-motion-spatial-default),
    width var(--md-sys-motion-spatial-default-duration)
      var(--md-sys-motion-spatial-default);
  will-change: left, width;
}

::slotted(*) {
  flex: 1;
}

:host([secondary]) {
  --_tab-selected-color: var(--md-sys-color-on-surface);
  --_tab-indicator-height: 2px;
}
:host([secondary]) [part='indicator'] {
  border-radius: 0;
}

:host([iconsabove]) {
  --_tab-flex-dir: column;
  --_tab-height: 64px;
  --_tab-gap: 2px;
}

@media (forced-colors: active) {
  [part='indicator'] {
    background-color: Highlight;
  }
}
