:host {
  --_tab-selected-color: var(--md-sys-color-primary);
  --_indicator-height: 3px;
  display: block;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

[part='tablist'] {
  display: flex;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

::slotted(md-tab),
::slotted(md-secondary-tab) {
  flex: 1;
}

:host([iconsabove]) {
  --_tab-flex-dir: column;
  --_tab-height: 64px;
  --_tab-gap: 2px;
}

@media (forced-colors: active) {
  [part='indicator'] {
    background-color: Highlight;
  }
}
