:host {
  animation-delay: 0s, calc(var(--md-focus-ring-duration, 600ms) * 0.25);
  animation-duration:
    calc(var(--md-focus-ring-duration, 600ms) * 0.25),
    calc(var(--md-focus-ring-duration, 600ms) * 0.75);
  animation-timing-function:
    cubic-bezier(0.2, 0, 0, 1), cubic-bezier(0.2, 0, 0, 1);
  box-sizing: border-box;
  color: var(--md-focus-ring-color, var(--md-sys-color-secondary));
  display: none;
  pointer-events: none;
  position: absolute;
}

:host(:state(visible)) {
  display: flex;
}

:host(:not([inward])) {
  animation-name: outward-grow, outward-shrink;
  border-end-end-radius: calc(
    var(--md-focus-ring-shape-end-end, var(--md-focus-ring-shape, 9999px)) +
      var(--md-focus-ring-outward-offset, 2px)
  );
  border-end-start-radius: calc(
    var(--md-focus-ring-shape-end-start, var(--md-focus-ring-shape, 9999px)) +
      var(--md-focus-ring-outward-offset, 2px)
  );
  border-start-end-radius: calc(
    var(--md-focus-ring-shape-start-end, var(--md-focus-ring-shape, 9999px)) +
      var(--md-focus-ring-outward-offset, 2px)
  );
  border-start-start-radius: calc(
    var(--md-focus-ring-shape-start-start, var(--md-focus-ring-shape, 9999px)) +
      var(--md-focus-ring-outward-offset, 2px)
  );
  box-shadow: 0 0 0 var(--md-focus-ring-width, 3px) currentColor;
  inset: calc(-1 * var(--md-focus-ring-outward-offset, 2px));
}

:host([inward]) {
  animation-name: inward-grow, inward-shrink;
  border-end-end-radius: calc(
    var(--md-focus-ring-shape-end-end, var(--md-focus-ring-shape, 9999px)) -
      var(--md-focus-ring-inward-offset, 0px)
  );
  border-end-start-radius: calc(
    var(--md-focus-ring-shape-end-start, var(--md-focus-ring-shape, 9999px)) -
      var(--md-focus-ring-inward-offset, 0px)
  );
  border-start-end-radius: calc(
    var(--md-focus-ring-shape-start-end, var(--md-focus-ring-shape, 9999px)) -
      var(--md-focus-ring-inward-offset, 0px)
  );
  border-start-start-radius: calc(
    var(--md-focus-ring-shape-start-start, var(--md-focus-ring-shape, 9999px)) -
      var(--md-focus-ring-inward-offset, 0px)
  );
  box-shadow: inset 0 0 0 var(--md-focus-ring-width, 3px) currentColor;
  inset: var(--md-focus-ring-inward-offset, 0px);
}

@keyframes outward-grow {
  from {
    box-shadow: 0 0 0 0 currentColor;
  }

  to {
    box-shadow: 0 0 0 var(--md-focus-ring-active-width, 8px) currentColor;
  }
}

@keyframes outward-shrink {
  from {
    box-shadow: 0 0 0 var(--md-focus-ring-active-width, 8px) currentColor;
  }
}

@keyframes inward-grow {
  from {
    box-shadow: inset 0 0 0 0 currentColor;
  }

  to {
    box-shadow: inset 0 0 0 var(--md-focus-ring-active-width, 8px) currentColor;
  }
}

@keyframes inward-shrink {
  from {
    box-shadow: inset 0 0 0 var(--md-focus-ring-active-width, 8px) currentColor;
  }
}

@media (prefers-reduced-motion) {
  :host {
    animation: none;
  }
}

@media (forced-colors: active) {
  :host {
    color: Highlight;
  }
}
