:host {
  --_on-color: var(--md-sys-color-on-primary);
  --_color: var(--md-sys-color-primary);
  /* [size='small'] */
  --_height: 40px;
  --_padding: 16px;
  --_padding-icon: 8px;
  --_icon-size: 20px;
  --_square-radius: 12px;
  --_pressed-radius: 8px;

  --_text-color: var(--_on-color);
  --_background-color: var(--_color);
  --_outline-color: var(--md-sys-color-outline);
  align-items: center;
  background-color: color-mix(
    in srgb,
    var(--_background-color) var(--_background-opacity, 100%),
    transparent
  );
  border-radius: calc(var(--_height) / 2);
  --md-focus-ring-shape: calc(var(--_height) / 2);
  box-sizing: border-box;
  color: color-mix(
    in srgb,
    var(--_text-color) var(--_text-opacity, 100%),
    transparent
  );
  cursor: pointer;
  display: inline-flex;
  font: var(--md-sys-typography-label-large);
  gap: var(--_padding-icon);
  height: var(--_height);
  justify-content: center;
  min-width: 64px;
  outline: 0;
  padding-inline: var(--_padding);
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transition:
    box-shadow 280ms var(--md-sys-motion-easing-emphasized),
    border-radius 280ms var(--md-sys-motion-easing-emphasized);
  -webkit-user-select: none;
  user-select: none;
  vertical-align: top;
}

:host([size='xsmall']) {
  --_height: 32px;
  --_padding: 12px;
  --_padding-icon: 4px;
}
:host([size='medium']) {
  --_height: 56px;
  --_padding: 24px;
  --_padding-icon: 8px;
  --_icon-size: 24px;
  --_square-radius: 16px;
  --_pressed-radius: 12px;
  font: var(--md-sys-typography-title-medium);
}
:host([size='large']) {
  --_height: 96px;
  --_padding: 48px;
  --_padding-icon: 12px;
  --_icon-size: 32px;
  --_square-radius: 28px;
  --_pressed-radius: 16px;
  font: var(--md-sys-typography-headline-small);
}
:host([size='xlarge']) {
  --_height: 136px;
  --_padding: 64px;
  --_padding-icon: 16px;
  --_icon-size: 40px;
  --_square-radius: 28px;
  --_pressed-radius: 16px;
  font: var(--md-sys-typography-headline-medium);
}

:host([shape='square']) {
  border-radius: var(--_square-radius);
  --md-focus-ring-shape: var(--_square-radius);
}

:host([color='secondary']) {
  --_on-color: var(--md-sys-color-on-secondary);
  --_color: var(--md-sys-color-secondary);
}
:host([color='tertiary']) {
  --_on-color: var(--md-sys-color-on-tertiary);
  --_color: var(--md-sys-color-tertiary);
}

:host([variant='tonal']) {
  --_background-color: var(--md-sys-color-secondary-container);
  --_text-color: var(--md-sys-color-on-secondary-container);
}
:host([variant='elevated']) {
  --_background-color: var(--md-sys-color-surface-container-low);
  --_text-color: var(--_color);
  box-shadow: var(--md-sys-elevation-shadow-1);
}
:host([variant='outlined']) {
  --_background-color: transparent !important;
  --_text-color: var(--_color);
  --md-focus-ring-offset: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: color-mix(
    in srgb,
    var(--_outline-color) var(--_outline-opacity, 100%),
    transparent
  );
  box-shadow: none !important;
  padding-inline: calc(var(--_padding) - 1px);
}
:host([variant='text']) {
  --_background-color: transparent !important;
  --_text-color: var(--_color);
  box-shadow: none !important;
  padding-inline: 12px;
}

@media (hover: hover) and (pointer: fine) {
  :host(:hover:not(:active)) {
    box-shadow: var(--md-sys-elevation-shadow-1);
  }
  :host([variant='elevated']:hover:not(:active)) {
    box-shadow: var(--md-sys-elevation-shadow-2);
  }
}

/* TODO: Space key pressed should also trigger active state */
:host(:active) {
  border-radius: var(--_pressed-radius);
  --md-focus-ring-shape: var(--_pressed-radius);
}

:host(:disabled) {
  --_background-color: var(--md-sys-color-on-surface);
  --_background-opacity: 12%;
  --_text-color: var(--md-sys-color-on-surface);
  --_text-opacity: 38%;
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}
:host([variant='outlined']:disabled) {
  --_outline-color: var(--md-sys-color-on-surface);
  --_outline-opacity: 12%;
}

::slotted([slot='icon']),
::slotted([slot='trailingicon']) {
  block-size: 1em;
  fill: currentcolor;
  font-size: var(--_icon-size);
  inline-size: 1em;
}
