:host {
  --md-focus-ring-shape: calc(var(--_h) / 2);
  background-color: color-mix(
    in srgb,
    var(--_background-color) var(--_background-opacity, 100%),
    transparent
  );
  border-radius: calc(var(--_h) / 2);
  color: color-mix(
    in srgb,
    var(--_text-color) var(--_text-opacity, 100%),
    transparent
  );
  font: var(--md-sys-typography-label-large);
  gap: var(--_gap);
  height: var(--_h);
  min-width: 64px;
  padding-inline: var(--_pad);
  transition:
    box-shadow 280ms var(--md-sys-motion-easing-emphasized),
    border-radius 280ms var(--md-sys-motion-easing-emphasized);
}

:host([trailingicon]) {
  flex-direction: row-reverse;
}

:host([variant='elevated']) {
  box-shadow: var(--md-sys-elevation-shadow-1);
}
:host([variant='text']) {
  box-shadow: none !important;
  padding-inline: 12px; /* FIXME: No guideline to change with `[size]` */
}


@media (hover: hover) and (pointer: fine) {
  :host(:hover:not(:active)) {
    box-shadow: var(--md-sys-elevation-shadow-1);
  }
  :host([variant='elevated']:hover:not(:active)) {
    box-shadow: var(--md-sys-elevation-shadow-2);
  }
}

:host(:disabled) {
  --_background-color: var(--md-sys-color-on-surface);
  --_background-opacity: 10%;
  --_text-color: var(--md-sys-color-on-surface);
  --_text-opacity: 38%;
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}
:host([variant='outlined']:disabled) {
  --_background-color: var(--md-sys-color-outline) !important;
}

[part~='icon' ] {
  block-size: 1em;
  fill: currentcolor;
  font-size: var(--_icon-size);
  inline-size: 1em;
}
