:host {
  --_text-color: var(--md-sys-color-on-primary);
  --_background-color: var(--md-sys-color-primary);
  --_outline-color: var(--md-sys-color-outline);
  align-items: center;
  background-color: color-mix(
    in srgb,
    var(--_background-color) var(--_background-opacity, 100%),
    transparent
  );
  border-radius: 9999px;
  box-sizing: border-box;
  color: color-mix(
    in srgb,
    var(--_text-color) var(--_text-opacity, 100%),
    transparent
  );
  cursor: pointer;
  display: inline-flex;
  font: var(--md-sys-typography-label-large);
  height: 40px;
  justify-content: center;
  min-width: 64px;
  outline: 0;
  padding: 0 24px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow 280ms var(--md-sys-motion-easing-emphasized);
  user-select: none;
  vertical-align: top;
}
:host([elevated]) {
  --_background-color: var(--md-sys-color-surface-container-low);
  --_text-color: var(--md-sys-color-primary);
}
:host([tonal]) {
  --_background-color: var(--md-sys-color-secondary);
  --_text-color: var(--md-sys-color-on-secondary);
}
:host([outlined]) {
  --_background-color: transparent !important;
  --_text-color: var(--md-sys-color-primary);
  border: 1px solid
    color-mix(
      in srgb,
      var(--_outline-color) var(--_outline-opacity, 100%),
      transparent
    );
  padding-inline: 23px;
}
:host([outlined]) [part~='focus-ring'] {
  inset: -1px;
}
:host([text]) {
  --_background-color: transparent !important;
  --_text-color: var(--md-sys-color-primary);
  padding-inline: 12px;
}

:host([elevated]) {
  box-shadow: var(--md-sys-elevation-shadow-1);
}
:host(:disabled) {
  --_background-color: var(--md-sys-color-on-surface);
  --_background-opacity: 12%;
  --_text-color: var(--md-sys-color-on-surface);
  --_text-opacity: 38%;
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}
:host([outlined]:disabled) {
  --_outline-color: var(--md-sys-color-on-surface);
  --_outline-opacity: 12%;
}
@media (hover: hover) and (pointer: fine) {
  :host(:not([elevated]):not([outlined]):not([text]):hover:not(:active)) {
    box-shadow: var(--md-sys-elevation-shadow-1);
  }
  :host([elevated]:hover:not(:active)) {
    box-shadow: var(--md-sys-elevation-shadow-2);
  }
}

::slotted([slot='icon']),
::slotted([slot='trailingicon']) {
  block-size: 18px;
  fill: currentcolor;
  font-size: 18px;
  inline-size: 18px;
}
::slotted([slot='icon']) {
  margin-inline-end: 8px;
  margin-inline-start: -8px;
}
::slotted([slot='trailingicon']) {
  margin-inline-end: -8px;
  margin-inline-start: 8px;
}
:host([text]) ::slotted([slot='icon']) {
  margin-inline-start: 0px;
}
:host([text]) ::slotted([slot='trailingicon']) {
  margin-inline-end: 0px;
}
