:host([variant='filled']:not(:state(checked))) {
  --_background-color: var(--md-sys-color-surface-container);
  --_text-color: var(--md-sys-color-on-surface-variant);
}
:host([variant='tonal']:not(:state(checked))) {
  --_background-color: var(--md-sys-color-surface-container-highest);
  --_text-color: var(--md-sys-color-on-surface-variant);
}
:host([variant='outlined']:state(checked)) {
  --_background-color: var(--md-sys-color-inverse-surface);
  --_outline-color: var(--md-sys-color-inverse-surface);
  --_text-color: var(--md-sys-color-inverse-on-surface);
}
