[part~='focus-ring'] {
  animation-delay: 0s, 150ms;
  animation-duration: 150ms, 450ms;
  border-radius: var(--md-focus-ring-radius, inherit);
  box-sizing: border-box;
  color: var(--md-sys-color-secondary);
  display: none;
  inset: 0;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
:host([focus='key']) [part~='focus-ring'] {
  animation-name: outward-grow, outward-shrink;
  animation-timing-function: var(--md-sys-motion-easing-standard);
  display: flex;
  outline: 3px solid currentColor;
  outline-offset: 2px;
}

@keyframes outward-grow {
  0% {
    outline-width: 0px;
  }
  100% {
    outline-width: 8px;
  }
}
@keyframes outward-shrink {
  0% {
    outline-width: 8px;
  }
}
