:host(:--checked) [part~='icon-unchecked'] {
  display: none;
}
:host(:not(:--checked)) [part~='icon-checked'] {
  display: none;
}

:host(:not([variant]):--checked),
:host([variant='standard']:--checked) {
  --_text-color: var(--md-sys-color-primary);
}

:host([variant='filled']:not(:--checked)) {
  --_background-color: var(--md-sys-color-surface-container-highest);
  --_text-color: var(--md-sys-color-primary);
}
:host([variant='tonal']:not(:--checked)) {
  --_background-color: var(--md-sys-color-surface-container-highest);
  --_text-color: var(--md-sys-color-on-surface-variant);
}
:host([variant='outlined']:--checked) {
  --_background-color: var(--md-sys-color-inverse-surface);
  --_outline-color: var(--md-sys-color-inverse-surface);
  --_text-color: var(--md-sys-color-inverse-on-surface);
}
