:host {
  --_icon-size: 24px;
  background-color: color-mix(
    in srgb,
    var(--_background-color) var(--_background-opacity, 100%),
    transparent
  );
  border-radius: calc(var(--_h) / 2);
  color: color-mix(
    in srgb,
    var(--_text-color) var(--_text-opacity, 100%),
    transparent
  );
  height: var(--_h);
  width: var(--_h);
  transition: border-radius 280ms var(--md-sys-motion-easing-emphasized);
}

:host([variant='text']) {
  --_text-color: var(--md-sys-color-on-surface-variant);
}

:host([width='narrow']) {
  width: var(--_w_narrow);
}
:host([width='wide']) {
  width: var(--_w_wide);
}

:host(:disabled) {
  --_text-color: var(--md-sys-color-on-surface) !important;
  --_text-opacity: 38%;
  cursor: default;
  pointer-events: none;
}
:host([variant='filled']:disabled),
:host([variant='tonal']:disabled) {
  --_background-color: var(--md-sys-color-on-surface);
  --_background-opacity: 10%;
}
:host([variant='outlined']:disabled) {
  --_outline-color: var(--md-sys-color-on-surface);
  --_outline-opacity: 10%;
}

::slotted(*) {
  block-size: 1em;
  fill: currentcolor;
  font-size: var(--_icon-size);
  inline-size: 1em;
}
