:host {
  align-items: center;
  border-radius: inherit;
  box-sizing: border-box;
  color: var(--md-sys-color-on-surface);
  display: flex;
  flex: 1;
  font: var(--md-sys-typography-body-large);
  gap: 8px;
  min-height: 48px;
  padding: 0 12px;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

[name='container'] {
  border-radius: inherit;
}

[name='container']::slotted(*) {
  inset: 0;
  position: absolute;
}

/* TODO: every other part */
