:host {
  --md-focus-ring-shape: 12px;
  --md-focus-ring-inward-offset: -4px;
  border-radius: 12px;
  display: flex;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

:host(:state(selected)) {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

:host(:disabled) {
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
}

md-item,
md-item div[slot='container'] {
  border-radius: inherit;
}
