[part='menu'] {
  /* `position` set by PopoverController */
  /* TODO: Set a generic standard for `z-index` */
  background: var(--md-sys-color-surface-container);
  border-radius: 16px;
  box-shadow: var(--md-sys-elevation-shadow-2);
  box-sizing: border-box;
  color: var(--md-sys-color-on-surface);
  height: inherit;
  inset: auto;
  max-height: inherit;
  max-width: inherit;
  min-width: inherit;
  overflow-y: auto;
  padding: 4px;
  transform-origin: top;
  z-index: 1000;
  opacity: 0;
  transform: scaleY(0.4);
}

:host(:state(closed)) [part='menu'] {
  display: none;
}
:host(:state(opening)) [part='menu'] {
  display: block;
  opacity: 1;
  transform: scaleY(1);
  transition:
    opacity var(--md-sys-motion-duration-short1),
    transform var(--md-sys-motion-duration-medium2)
      var(--md-sys-motion-easing-emphasized-decelerate);
}
:host(:state(opened)) [part='menu'] {
  display: block;
  opacity: 1;
  transform: scaleY(1);
}
:host(:state(closing)) [part='menu'] {
  opacity: 0;
  transform: scaleY(0.4);
  transition:
    opacity var(--md-sys-motion-duration-short3),
    transform var(--md-sys-motion-duration-short4)
      var(--md-sys-motion-easing-emphasized-accelerate);
}

[part='items'] {
  display: flex;
  flex-direction: column;
  gap: 2px;
  opacity: 0;
}

:host(:state(opening)) [part='items'] {
  opacity: 1;
  transition: opacity var(--md-sys-motion-duration-short1) linear
    var(--md-sys-motion-duration-short1);
}

:host(:state(opened)) [part='items'] {
  opacity: 1;
}

:host(:state(closing)) [part='items'] {
  opacity: 0;
  transition: opacity var(--md-sys-motion-duration-short1);
}
