:host {
  --md-focus-ring-shape: 8px;
  display: flex;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

:host(:disabled) {
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
}
