:host {
  position: absolute;
  inset: 0;
  display: block;
  pointer-events: none;
  border-radius: inherit;
}
:host(:not([unbounded])) {
  overflow: hidden;
}

[part~='ripple'] {
  position: absolute;
  left: 0;
  top: 0;
  background-image: radial-gradient(
    closest-side,
    var(--md-ripple-color, currentColor) max(calc(100% - 70px), 65%),
    transparent 100%
  );
}

:host::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  border-radius: inherit;
  background-color: var(--md-ripple-color, currentColor);
  transition: opacity 67ms linear;
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  :host([hover])::before {
    opacity: 0.08;
  }
}
