:host {
  position: absolute;
  inset: 0;
  display: block;
  pointer-events: none;
  border-radius: inherit;
}
:host(:not([unbounded])) {
  overflow: hidden;
}

[part~='ripple'] {
  position: absolute;
  transform-origin: center, center;
  background-image: radial-gradient(
    closest-side,
    var(--md-ripple-color, currentColor) max(calc(100% - 70px), 65%),
    transparent 100%
  );
}
