:host {
  --_outline-color: var(--md-sys-color-outline);
  --_track-color: var(--md-sys-color-surface-container-highest);
  --_thumb-color: var(--md-sys-color-outline);
  --_icon-color: var(--md-sys-color-surface-container-highest);
  --_ripple-color: var(--md-sys-color-on-surface);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  outline: 0;
  position: relative;
  vertical-align: top;
  user-select: none;
  touch-action: none;
}
:host([checked]) {
  --_outline-color: var(--md-sys-color-primary);
  --_track-color: var(--md-sys-color-primary);
  --_thumb-color: var(--md-sys-color-on-primary);
  --_icon-color: var(--md-sys-color-on-primary-container);
  --_ripple-color: var(--md-sys-color-primary);
}
:host([disabled]) {
  --_outline-color: var(--md-sys-color-on-surface);
  --_outline-opacity: 12%;
  --_track-color: var(--md-sys-color-surface-variant);
  --_track-opacity: 12%;
  --_thumb-color: var(--md-sys-color-on-surface);
  --_thumb-opacity: 38%;
  --_icon-color: var(--md-sys-color-surface-container-highest);
  cursor: default;
  pointer-events: none;
}
:host([disabled][checked]) {
  --_outline-color: var(--md-sys-color-surface);
  --_track-color: var(--md-sys-color-on-surface);
  --_thumb-color: var(--md-sys-color-surface);
  --_thumb-opacity: 100%;
  --_icon-color: var(--md-sys-color-on-surface);
}
:host([icons]:not([checked]):not([checkedicononly])) [part~='icon-off'] {
  --_icon-opacity: 100%;
}
:host([icons][checked]) [part~='icon-on'] {
  --_icon-opacity: 100%;
}
:host([icons][checked][disabled]) [part~='icon-on'] {
  --_icon-opacity: 38%;
}
@media (hover: hover) and (pointer: fine) {
  :host(:hover) {
    --_thumb-color: var(--md-sys-color-on-surface-variant);
  }
  :host([checked]:hover) {
    --_thumb-color: var(--md-sys-color-primary-container);
  }
}
@media (forced-colors: active) {
  :host {
    forced-color-adjust: none;
  }
}

[part~='switch'] {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

[part~='track'] {
  background-color: color-mix(
    in srgb,
    var(--_track-color),
    transparent calc(100% - var(--_track-opacity, 100%))
  );
  border: 2px solid
    color-mix(
      in srgb,
      var(--_outline-color),
      transparent calc(100% - var(--_outline-opacity, 100%))
    );
  border-radius: 50px;
  height: 32px;
  position: initial;
  transition:
    background-color 300ms var(--md-sys-motion-overshoot),
    border-color 300ms var(--md-sys-motion-overshoot);
  width: 52px;
  box-sizing: border-box;
  display: block;
}

[part~='thumb'] {
  --_thumb-diameter: 16px;
  --_thumb-center-edge-distance_: 16px;
  --_thumb-diff-default: 20px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  place-items: center;
  width: var(--_thumb-diameter);
  height: var(--_thumb-diameter);
  position: absolute;
  transition:
    background-color 67ms linear,
    width 250ms var(--md-sys-motion-easing-standard),
    height 250ms var(--md-sys-motion-easing-standard),
    margin 300ms var(--md-sys-motion-overshoot);
  z-index: 1;
  margin-inline-start: calc(
    var(--_thumb-diff-pointer, 0px) - var(--_thumb-diff-default)
  );
  background-color: color-mix(
    in srgb,
    var(--_thumb-color),
    transparent calc(100% - var(--_thumb-opacity, 100%))
  );
}
:host([checked]) [part~='thumb'] {
  --_thumb-diameter: 24px;
  --_thumb-diff-default: -20px;
  background-color: var(--_thumb-color);
}
:host([icons]:not([checkedicononly])) [part~='thumb'] {
  --_thumb-diameter: 24px;
}
:host(:active) [part~='thumb'] {
  --_thumb-diameter: 28px !important;
  --_thumb-color: var(--md-sys-color-on-surface-variant);
}
:host([checked]:active) [part~='thumb'] {
  --_thumb-color: var(--md-sys-color-primary-container);
}

[part~='icons'] {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  fill: color-mix(
    in srgb,
    var(--_icon-color),
    transparent calc(100% - var(--_icon-opacity, 0%))
  );
  transition: fill 67ms linear;
}

md-ripple {
  width: 40px;
  height: 40px;
  inset: unset;
  color: var(--_ripple-color);
}
