:host {
  align-items: center;
  background-color: var(--md-sys-color-inverse-surface);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--md-sys-color-inverse-on-surface);
  display: flex;
  font: var(--md-sys-typography-body-small);
  max-width: var(--_max-width, 300px);
  min-height: 24px;
  padding: 4px 8px;
  pointer-events: none;
  position: absolute;
  transition: opacity 67ms linear;
  z-index: 9999;
}
/* TODO: grow animation */
:host(:not(:--visible)) {
  opacity: 0;
  visibility: hidden;
  inset: unset !important;
}
