:host {
  align-items: center;
  background-color: var(--md-sys-color-inverse-surface);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--md-sys-color-inverse-on-surface);
  display: flex;
  font: var(--md-sys-typography-body-small);
  min-height: 24px;
  padding-inline: 8px;
  pointer-events: none;
  position: absolute;
  transition: opacity 67ms linear;
  transition-delay: var(--_transition-delay);
}
:host(:not([visible])) {
  opacity: 0;
  transition-delay: 0ms;
  visibility: hidden;
}
