:root {
  --md-sys-typescale-font-family-base: 'Roboto';
  --md-sys-typescale-font-family-global: var(--md-sys-typescale-font-family-base), system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --md-sys-typescale-font-family-monospace: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  box-sizing: border-box;
  --demo-header-height: 64px;
}

*,
::after,
::before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
}

body {
  margin: 0;
  font-family: var(--md-sys-typescale-font-family-global);
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

.outer-link {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.main > [tag='h1'] {
  margin: 10px 0;
}
.main > [tag='h2'] {
  margin: 40px 0px 10px;
  scroll-margin-top: calc(var(--demo-header-height) + 16px);
}
.main > [tag='h3'] {
  margin: 10px 0;
}

code,
pre,
kbd {
  font-family: var(--md-sys-typescale-font-family-monospace);
}

table {
  margin-inline: 20px;
  display: block;
  word-break: normal;
  text-align: left;
  overflow-x: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-spacing: 0px;
}
th {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--md-sys-color-on-background);
  white-space: pre;
  border-bottom: 1px solid rgba(var(--md-sys-color-on-surface-rgb), 0.16);
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
td {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0px;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  border-bottom: 1px solid rgba(var(--md-sys-color-on-surface-rgb), 0.16);
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--md-sys-color-on-background);
}
.name,
.type,
.default-val {
  font-weight: 400;
  font-family: var(--md-sys-typescale-font-family-monospace);
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 0.8125rem;
}
.type {
  color: var(--md-sys-color-tertiary);
}

md-fab-set {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 12;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 8px;
}
[dir='rtl'] md-fab-set {
  left: 16px;
  right: auto;
}

main {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
}
.table-of-ctt {
  display: none;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  padding-block-start: calc(64px + 1rem);
  padding-inline-start: 16px;
  padding-inline-end: 32px;
  width: 240px;
  height: 100vh;
  order: 1;
  overflow-y: auto;
  box-sizing: border-box;
}
.table-of-ctt p {
  margin-inline-start: 12px;
}
.table-of-ctt ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.table-of-ctt ul li a {
  position: relative;
  padding: 0px 8px;
  margin-block-start: 4px;
  margin-block-end: 8px;
  margin-inline-start: 4px;
  display: inline-flex;
  align-items: center;
  color: rgba(var(--md-sys-color-on-surface-rgb), 0.72);
  text-decoration: none;
  border-left: 1px solid transparent;
  outline: none;
}
[dir='rtl'] .table-of-ctt ul li a {
  border-left: none;
  border-right: 1px solid transparent;
}
.table-of-ctt ul li a:focus-visible {
  color: rgba(var(--md-sys-color-on-surface-rgb), 0.9);
  border-color: rgba(var(--md-sys-color-on-surface-rgb), 0.48);
}
.table-of-ctt ul li a:hover {
  color: rgba(var(--md-sys-color-on-surface-rgb), 0.8);
  border-color: rgba(var(--md-sys-color-on-surface-rgb), 0.32);
}
.main {
  margin-inline-start: 0;
  padding: 64px 24px 24px 24px;
  max-width: 105ch;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .table-of-ctt {
    display: block;
  }
  .main {
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: calc(100% - 240px);
  }
}

.demo-container {
  position: relative;
  margin: 1rem 0;
  padding: 16px;
  width: 100%;
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--md-sys-color-background);
  border-radius: 16px;
  box-shadow: var(--md-sys-elevation-shadow-1);
  color: var(--md-sys-color-on-background);
}
[data-md-theme='dark'] .demo-container {
  box-shadow: none;
  border: 1px solid var(--md-sys-color-outline);
}
.demo-container.bg-change::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: currentColor;
  opacity: 0.08;
  border-radius: inherit;
}
.demo-spacer {
  margin: -8px;
  width: 100%;
}

.index {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.index > div {
  padding-bottom: 20px;
}
.index ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  padding: 0;
}
.index h2 {
  padding: 0 8px;
  opacity: 0.6;
}
.index a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 36px;
  color: inherit;
  text-decoration-line: none;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
.index a:focus-visible {
  background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
}
.index a:hover {
  background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.08);
}
.index a:active {
  background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.16);
}

.overflow-box {
  overflow: auto;
  border-radius: 16px;
}
.color-map {
  min-width: 580px;
  border-radius: 16px;
  overflow: hidden;
}
.color-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 44px;
}
.color-row:not(:first-child) {
  margin-top: 8px;
}
.color-row:not(:last-child) {
  margin-bottom: 8px;
}
.color-row:first-child {
  height: 118px;
}
.color-item {
  flex: 1 1 0%;
  height: 100%;
  padding-block-start: 8px;
  padding-inline-start: 8px;
  box-sizing: border-box;
}
.outline-color {
  flex: 2 1 16px;
}
