:root[data-md-theme='light'] {
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1b1b20;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #dbd9e0;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f5f2f9;
  --md-sys-color-surface-container: #efedf3;
  --md-sys-color-surface-container-high: #eae7ee;
  --md-sys-color-surface-container-highest: #e4e1e8;
  --md-sys-color-on-surface: #1b1b20;
  --md-sys-color-surface-variant: #e3e1ee;
  --md-sys-color-on-surface-variant: #454650;
  --md-sys-color-inverse-surface: #303035;
  --md-sys-color-inverse-on-surface: #f2eff6;
  --md-sys-color-outline: #767682;
  --md-sys-color-outline-variant: #c6c5d2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4f59a0;
  --md-sys-color-primary: #4f59a0;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #b3bbff;
  --md-sys-color-on-primary-container: #1f2a6f;
  --md-sys-color-inverse-primary: #bcc3ff;
  --md-sys-color-secondary: #595c7a;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #dddfff;
  --md-sys-color-on-secondary-container: #424562;
  --md-sys-color-tertiary: #86487f;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #f1a6e5;
  --md-sys-color-on-tertiary-container: #51184e;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
  color-scheme: light;
}

:root[data-md-theme='dark'] {
  --md-sys-color-background: #131318;
  --md-sys-color-on-background: #e4e1e8;
  --md-sys-color-surface: #131318;
  --md-sys-color-surface-dim: #131318;
  --md-sys-color-surface-bright: #39393e;
  --md-sys-color-surface-container-lowest: #0d0e12;
  --md-sys-color-surface-container-low: #1b1b20;
  --md-sys-color-surface-container: #1f1f24;
  --md-sys-color-surface-container-high: #29292f;
  --md-sys-color-surface-container-highest: #343439;
  --md-sys-color-on-surface: #e4e1e8;
  --md-sys-color-surface-variant: #454650;
  --md-sys-color-on-surface-variant: #c6c5d2;
  --md-sys-color-inverse-surface: #e4e1e8;
  --md-sys-color-inverse-on-surface: #303035;
  --md-sys-color-outline: #90909c;
  --md-sys-color-outline-variant: #454650;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bcc3ff;
  --md-sys-color-primary: #d4d7ff;
  --md-sys-color-on-primary: #1e296e;
  --md-sys-color-primary-container: #a1abf9;
  --md-sys-color-on-primary-container: #111c63;
  --md-sys-color-inverse-primary: #4f59a0;
  --md-sys-color-secondary: #c2c4e6;
  --md-sys-color-on-secondary: #2b2e4a;
  --md-sys-color-secondary-container: #3a3e5a;
  --md-sys-color-on-secondary-container: #d0d2f5;
  --md-sys-color-tertiary: #ffcaf3;
  --md-sys-color-on-tertiary: #51184e;
  --md-sys-color-tertiary-container: #e299d6;
  --md-sys-color-on-tertiary-container: #450c42;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  color-scheme: dark;
}

:root {
  --md-sys-typography-family: 'Roboto', sans-serif;

  --md-sys-typography-display-large: 400 3.5625rem / 4rem
    var(--md-sys-typography-family);
  --md-sys-typography-display-medium: 400 2.8125rem / 3.5rem
    var(--md-sys-typography-family);
  --md-sys-typography-display-small: 400 2.25rem / 3rem
    var(--md-sys-typography-family);
  --md-sys-typography-headline-large: 400 2.5rem / 3.125rem
    var(--md-sys-typography-family);
  --md-sys-typography-headline-medium: 400 2.25rem / 2.75rem
    var(--md-sys-typography-family);
  --md-sys-typography-headline-small: 400 2rem / 2.5rem
    var(--md-sys-typography-family);
  --md-sys-typography-title-large: 400 1.375rem / 1.75rem
    var(--md-sys-typography-family);
  --md-sys-typography-title-medium: 500 1rem / 1.25rem
    var(--md-sys-typography-family);
  --md-sys-typography-title-small: 500 0.875rem / 1.125rem
    var(--md-sys-typography-family);
  --md-sys-typography-label-large: 500 0.875rem / 1.25rem
    var(--md-sys-typography-family);
  --md-sys-typography-label-medium: 500 0.75rem / 1rem
    var(--md-sys-typography-family);
  --md-sys-typography-label-small: 500 0.6875rem / 0.875rem
    var(--md-sys-typography-family);
  --md-sys-typography-body-large: 400 1rem / 1.5rem
    var(--md-sys-typography-family);
  --md-sys-typography-body-medium: 400 0.875rem / 1.25rem
    var(--md-sys-typography-family);
  --md-sys-typography-body-small: 400 0.75rem / 1rem
    var(--md-sys-typography-family);

  --md-sys-motion-duration-short1: 50ms;
  --md-sys-motion-duration-short2: 100ms;
  --md-sys-motion-duration-short3: 150ms;
  --md-sys-motion-duration-short4: 200ms;
  --md-sys-motion-duration-medium1: 250ms;
  --md-sys-motion-duration-medium2: 300ms;
  --md-sys-motion-duration-medium3: 350ms;
  --md-sys-motion-duration-medium4: 400ms;
  --md-sys-motion-duration-long1: 450ms;
  --md-sys-motion-duration-long2: 500ms;
  --md-sys-motion-duration-long3: 550ms;
  --md-sys-motion-duration-long4: 600ms;
  --md-sys-motion-duration-extra-long1: 700ms;
  --md-sys-motion-duration-extra-long2: 800ms;
  --md-sys-motion-duration-extra-long3: 900ms;
  --md-sys-motion-duration-extra-long4: 1000ms;

  --md-sys-motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  --md-sys-motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --md-sys-motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --md-sys-motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --md-sys-motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --md-sys-motion-easing-legacy: cubic-bezier(0.4, 0, 0.2, 1);
  --md-sys-motion-easing-legacy-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --md-sys-motion-easing-legacy-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --md-sys-motion-overshoot: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  --md-sys-motion-path: linear;

  --md-sys-elevation-level-0: 0;
  --md-sys-elevation-level-1: 1;
  --md-sys-elevation-level-2: 3;
  --md-sys-elevation-level-3: 6;
  --md-sys-elevation-level-4: 8;
  --md-sys-elevation-level-5: 12;
  --md-sys-elevation-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
}
body {
  accent-color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  font-family: var(--md-sys-typography-family);
}
::selection {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

a {
  color: var(--md-sys-color-primary);
}
a:not(:hover):not(:focus-visible) {
  text-decoration: none;
}

html {
  scroll-padding-block-start: 0;
}

body {
  display: flex;
  flex-direction: column;
  font: var(--md-sys-typography-body-large);
  margin: 0;
  min-height: 100dvh;
}

main {
  background-color: var(--md-sys-color-surface);
  min-height: 100dvh;
  overflow-y: auto;
  padding: 28px;
  flex-grow: 1;
}

@media (max-width: 600px) {
  main {
    padding: 16px;
  }

  div:has(> #toc-list) {
    display: none;
  }
}

main > * {
  margin-inline: auto;
  max-width: min(100%, 980px);
}

main > blockquote {
  background-color: var(--md-sys-color-secondary-container);
  border-radius: 22px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  padding: 22px;
}
blockquote .content > *:last-child {
  margin-block-end: 0;
}
blockquote .content > *:first-child {
  margin-block-start: 0;
}

h1 {
  font: var(--md-sys-typography-headline-medium);
}
h2 {
  font: var(--md-sys-typography-headline-small);
}
h3 {
  font: var(--md-sys-typography-title-large);
}
h4 {
  font: var(--md-sys-typography-title-medium);
}

code {
  background-color: var(--md-sys-color-surface-variant);
  border-radius: 2px;
  color: var(--md-sys-color-on-surface-variant);
  font: var(--md-sys-typography-body-large);
  margin-inline: 2px;
  outline: 2px solid var(--md-sys-color-surface-variant);
  padding-inline: 2px;
}

a:has(md-button),
a:has(md-fab),
a:has(md-icon-button) {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

label:has(md-checkbox) {
  align-items: center;
  display: inline-flex;
  font: var(--md-sys-typography-label-large);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
label:has(md-checkbox:disabled) {
  pointer-events: none;
}
label:has(md-switch),
label:has(select) {
  display: inline-flex;
  font: var(--md-sys-typography-label-large);
  gap: 8px;
  justify-content: space-between;
  place-items: center;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
label:has(md-switch:disabled) {
  pointer-events: none;
}

#global-toolbar {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

/* Fake web component */
md-icon {
  display: inline-block;
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}
