:root {
  color-scheme: dark;

  --md-sys-color-background: #0f1511;
  --md-sys-color-on-background: #dfe4dd;
  --md-sys-color-surface: #0f1511;
  --md-sys-color-surface-dim: #0f1511;
  --md-sys-color-surface-bright: #353b36;
  --md-sys-color-surface-container-lowest: #0a0f0c;
  --md-sys-color-surface-container-low: #171d19;
  --md-sys-color-surface-container: #1b211d;
  --md-sys-color-surface-container-high: #262b27;
  --md-sys-color-surface-container-highest: #313632;
  --md-sys-color-on-surface: #dfe4dd;
  --md-sys-color-surface-variant: #404942;
  --md-sys-color-on-surface-variant: #c0c9c0;
  --md-sys-color-inverse-surface: #dfe4dd;
  --md-sys-color-inverse-on-surface: #2c322d;
  --md-sys-color-outline: #6e776f;
  --md-sys-color-outline-variant: #404942;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8ad7a8;
  --md-sys-color-primary: #8ad7a8;
  --md-sys-color-on-primary: #003920;
  --md-sys-color-primary-container: #005231;
  --md-sys-color-on-primary-container: #a5f3c2;
  --md-sys-color-inverse-primary: #1b6b45;
  --md-sys-color-inverse-on-primary: #ffffff;
  --md-sys-color-secondary: #b5ccba;
  --md-sys-color-on-secondary: #213528;
  --md-sys-color-secondary-container: #374b3e;
  --md-sys-color-on-secondary-container: #d1e8d6;
  --md-sys-color-tertiary: #a3cddc;
  --md-sys-color-on-tertiary: #033541;
  --md-sys-color-tertiary-container: #224c58;
  --md-sys-color-on-tertiary-container: #bfe9f8;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
}

:root.light {
  color-scheme: light;

  --md-sys-color-background: #f6fbf4;
  --md-sys-color-on-background: #171d19;
  --md-sys-color-surface: #f6fbf4;
  --md-sys-color-surface-dim: #d6dbd5;
  --md-sys-color-surface-bright: #f6fbf4;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f0f5ee;
  --md-sys-color-surface-container: #eaefe8;
  --md-sys-color-surface-container-high: #e4eae3;
  --md-sys-color-surface-container-highest: #dfe4dd;
  --md-sys-color-on-surface: #171d19;
  --md-sys-color-surface-variant: #dce5dc;
  --md-sys-color-on-surface-variant: #404942;
  --md-sys-color-inverse-surface: #2c322d;
  --md-sys-color-inverse-on-surface: #edf2eb;
  --md-sys-color-outline: #6e776f;
  --md-sys-color-outline-variant: #c0c9c0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #1b6b45;
  --md-sys-color-primary: #1b6b45;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #a5f3c2;
  --md-sys-color-on-primary-container: #002111;
  --md-sys-color-inverse-primary: #8ad7a8;
  --md-sys-color-inverse-on-primary: #003920;
  --md-sys-color-secondary: #4e6355;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #d1e8d6;
  --md-sys-color-on-secondary-container: #0c1f14;
  --md-sys-color-tertiary: #3b6471;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #bfe9f8;
  --md-sys-color-on-tertiary-container: #001f27;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
}

:root {
  --md-sys-typography-family: 'Roboto', sans-serif;

  --md-sys-typography-display-large: 400 3.5625rem / 4rem
    var(--md-sys-typography-family);
  --md-sys-typography-display-medium: 400 2.8125rem / 3.5rem
    var(--md-sys-typography-family);
  --md-sys-typography-display-small: 400 2.25rem / 3rem
    var(--md-sys-typography-family);
  --md-sys-typography-headline-large: 400 2.5rem / 3.125rem
    var(--md-sys-typography-family);
  --md-sys-typography-headline-medium: 400 2.25rem / 2.75rem
    var(--md-sys-typography-family);
  --md-sys-typography-headline-small: 400 2rem / 2.5rem
    var(--md-sys-typography-family);
  --md-sys-typography-title-large: 400 1.375rem / 1.75rem
    var(--md-sys-typography-family);
  --md-sys-typography-title-medium: 500 1rem / 1.25rem
    var(--md-sys-typography-family);
  --md-sys-typography-title-small: 500 0.875rem / 1.125rem
    var(--md-sys-typography-family);
  --md-sys-typography-label-large: 500 0.875rem / 1.25rem
    var(--md-sys-typography-family);
  --md-sys-typography-label-medium: 500 0.75rem / 1rem
    var(--md-sys-typography-family);
  --md-sys-typography-label-small: 500 0.6875rem / 0.875rem
    var(--md-sys-typography-family);
  --md-sys-typography-body-large: 400 1rem / 1.5rem
    var(--md-sys-typography-family);
  --md-sys-typography-body-medium: 400 0.875rem / 1.25rem
    var(--md-sys-typography-family);
  --md-sys-typography-body-small: 400 0.75rem / 1rem
    var(--md-sys-typography-family);

  --md-sys-motion-duration-short1: 50ms;
  --md-sys-motion-duration-short2: 100ms;
  --md-sys-motion-duration-short3: 150ms;
  --md-sys-motion-duration-short4: 200ms;
  --md-sys-motion-duration-medium1: 250ms;
  --md-sys-motion-duration-medium2: 300ms;
  --md-sys-motion-duration-medium3: 350ms;
  --md-sys-motion-duration-medium4: 400ms;
  --md-sys-motion-duration-long1: 450ms;
  --md-sys-motion-duration-long2: 500ms;
  --md-sys-motion-duration-long3: 550ms;
  --md-sys-motion-duration-long4: 600ms;
  --md-sys-motion-duration-extra-long1: 700ms;
  --md-sys-motion-duration-extra-long2: 800ms;
  --md-sys-motion-duration-extra-long3: 900ms;
  --md-sys-motion-duration-extra-long4: 1000ms;

  --md-sys-motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  --md-sys-motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --md-sys-motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --md-sys-motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --md-sys-motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --md-sys-motion-easing-legacy: cubic-bezier(0.4, 0, 0.2, 1);
  --md-sys-motion-easing-legacy-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --md-sys-motion-easing-legacy-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --md-sys-motion-overshoot: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  --md-sys-motion-path: linear;

  --md-sys-elevation-level-0: 0;
  --md-sys-elevation-level-1: 1;
  --md-sys-elevation-level-2: 3;
  --md-sys-elevation-level-3: 6;
  --md-sys-elevation-level-4: 8;
  --md-sys-elevation-level-5: 12;
  --md-sys-elevation-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
}
body {
  accent-color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  font-family: var(--md-sys-typography-family);

  transition-property: background-color, color;
  transition-duration: 67ms;
  transition-timing-function: linear;
}
::selection {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

a {
  color: var(--md-sys-color-primary);
}
a:not(:hover):not(:focus-visible) {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  font: var(--md-sys-typography-body-large);
}
main {
  margin-inline: auto;
  padding: 32px 16px;
  max-width: 105ch;
}

@media (min-width: 1200px) {
  main {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 600px) {
  main {
    padding-left: 24px;
    padding-right: 24px;
  }
}

h1 {
  font: var(--md-sys-typography-headline-medium);
}
h2 {
  font: var(--md-sys-typography-headline-small);
}
h3 {
  font: var(--md-sys-typography-title-large);
}
h4 {
  font: var(--md-sys-typography-title-medium);
}

code {
  margin-inline: 2px;
  padding-inline: 2px;
  border-radius: 2px;
  font: var(--md-sys-typography-body-large);

  background-color: var(--md-sys-color-surface-variant);
  outline: 2px solid var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
}

[test~='layout'] * {
  outline: 1px solid red;
}
