/* https://jdan.github.io/98.css/#button */

:host {
  /* 98.css global */
  -webkit-font-smoothing: none;
  font-family: /* TODO */ Arial;
  font-size: 11px;

  /* 98.css button */
  background: silver;
  border: none;
  border-radius: 0;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fff,
    inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
  box-sizing: border-box;
  color: transparent;
  min-height: 23px;
  min-width: 75px;
  padding: 0 12px;
  text-shadow: 0 0 #222;

  /* Addition */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
:host(:active) {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px grey;
  text-shadow: 1px 1px #222;
}
:host(:focus) {
  outline: 1px dotted #000;
  outline-offset: -4px;
}
:host(:disabled) {
  color: grey;
  text-shadow: 1px 1px 0 #fff;
  pointer-events: none;
}
